body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container{
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100vw;
    visibility: hidden;
}

.container > div{
    left: 0;
    position: absolute;
    right: 0;
    top: 20vh;
}

.one{
    font-size: 4.5rem;
}
.two{
    font-size: 1.2rem;
    font-weight: lighter;
}

.three{
    font-size: 3rem ;
}

.classbox{

    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 0 auto;
    position:relative;
    width: 500px;
    height: 230px;

}

.chat{
    font-size: small;
    margin:4;
    text-align:justify;
}

.chat span {
    visibility: hidden;
}

.botonfalso{
    background-color: rgb(21,161,257);
    border-radius: 8px;
    bottom:-50px;
    color:#fff;
    padding: 0rem 1rem;
    position:absolute;
    right: 9px;
}

.five p{
    font-size: 2rem;
    left:0;
    position: absolute;
    right:0;

}

.six{
    position:relative;
    top:10vh;
    z-index: 1;
}

.profile{
    display:inline-block;
}

.fotitos2{
    font-weight: normal;
}
.fotitos3{
    font-weight: lighter;
}

.seven{
    display: grid;
    place-items: center;
    height: 100vh;
}

.seven img {
    position:fixed;
    top:100px;
}

.eigth p{
    font-size: 1rem;
    font-weight:lighter;
}

.eighth #replay{
    cursor: pointer;
}

@media (max-width:600px){

    .classbox{

        border: 2px solid #aaa;
        border-radius: 5px;
        margin: 0 auto;
        position:relative;
        width: 400px;
        height: 320px;
    
    }
    
    .chat{
        font-size:smaller;
        margin:4;
        text-align:justify;
    }
    
    .chat span {
        visibility: hidden;
    }
    
    .botonfalso{
        background-color: rgb(21,161,257);
        border-radius: 8px;
        bottom:-50px;
        color:#fff;
        padding: 0rem 1rem;
        position:absolute;
        right: 15px;
    }
    .seven img {
        position:fixed;
        top:100px;
        height: 80%;
    }

}
